<p><b>Price : </b> <%= item.text_field :price%></p>
<p><b>Name : </b><%= item.text_field :name%> </p>
<p><b>Weight : </b><%= item.text_field :weight%> </p>
<p><b>Real : </b><%= item.text_field :real%> </p>
